﻿@model   IEnumerable<EasyTest.Entity.Language>

@{
    var name = ViewData["name"].ToString();
    var pref = ViewData["pref"].ToString();
    var selected = (Int32)ViewData["selected"];
}

<select class="Language@(pref)" name="@(name)" size="1" style="width:140px;">
    @foreach (var lang in Model)
    {
        <option value='@lang.ID'
                data-image="@Url.Content("~/Content/Images/blank.gif")"
                data-imagecss="flag   @lang.Icon"
                data-title="@lang.NativeName"
                @if (selected == lang.ID)
                { <text> selected="selected" </text>       }
                }>
            @lang.NativeName
        </option>
    }
</select>



