﻿@model WebApp.Areas.AdminAuth.Models.TranslateEntityViewModel<EasyTest.Entity.NewsLang>
@{
    Layout = null;
}
<div class="form-horizontal">
  
    @Html.Partial("_language", Model.SupportedLanguages.Where(x => Model.Translated.Contains(x.ID)), new ViewDataDictionary { { "selected", Model.Entity.LanguageId }, { "pref", "From" }, { "name", "LanguageFrom" } })

    <div class="form-group">
        @Html.LabelFor(model => model.Entity.Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="NewsName" type="text" class="form-control" readonly value="@Model.Entity.Name" />
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Entity.ShortText, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <textarea id="NewsShortText" readonly class="form-control">
                @Model.Entity.ShortText
            </textarea>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Entity.Text, new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            <textarea name="Text" class="ckeditor" disabled>
                @Model.Entity.Text
            </textarea>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Entity.Keywords, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input id="NewsKeywords" type="text" class="form-control" readonly value="@Model.Entity.Keywords" />

        </div>
    </div>
</div>
