﻿@model WebApp.Areas.AdminAuth.Models.TranslateEntityViewModel<EasyTest.Entity.NewsLang>
@{
    Layout = null;
}

@using (Html.BeginForm("SaveTranslate", "News", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Entity.NewsId)
    @Html.Hidden("CultureFrom", Model.CultureFrom)
    <div class="form-horizontal">
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.Partial("_language",  Model.SupportedLanguages.Where(x => !Model.Translated.Contains(x.ID)), new ViewDataDictionary { { "selected", Model.Entity.LanguageId }, { "name", "NewsLang.LanguageId" }, { "pref", "To" } })

        <div class="form-group">
            @Html.LabelFor(model => model.Entity.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Entity.Name, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.Entity.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Entity.ShortText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Entity.ShortText, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Entity.ShortText, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Entity.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Entity.Text, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.Entity.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Entity.Keywords, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Entity.Keywords, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Entity.Keywords, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Bootstrap().SubmitButton().Text("Додати").Id("submitForm")

        </div>
    </div>
}



