﻿@model EasyTest.Entity.ViewModel.NewsViewModel

<div class="form-group">
    @Html.LabelFor(model => model.DateTime, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class='input-group date' id='datetimepicker1'>
            @Html.Bootstrap().TextBoxFor(model => model.DateTime).Class("form-control form-datetime")
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(model => model.DateTime, "", new { @class = "text-danger " })
    </div>
</div>             
