﻿@using WebApp.Helpers;

@{
    ViewBag.Title = "[Новини]";

    var culture = CultureHelper.GetNeutralCulture(CultureHelper.GetCurrentCulture());

    if ("uk" == culture)
    {
        culture = "ua";
    }
}

<div class="container">
    <table id="gridNews"></table>
    <div id="pagerNews"></div>
</div>

@section style{

    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet">
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dd.js")"></script>
    <script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="~/Scripts/jquery.jqGrid.js"></script>
    <script src="~/Scripts/i18n/grid.locale-@(culture).js"></script>
    <script src="~/Scripts/admin/JqGrid/JqGridTranslation.js"></script>
    <script src="~/Scripts/admin/JqGrid/JqGridNews.js"></script>

    <script type="text/javascript">

        var paramFromView =
            {
                Url:'@Url.Action("GetTodoList", "News")',
                Caption :'[Новини]',
                NewsTranslateUrl: '@Url.Action("Translate","News")',
                Image: '[Зображення]',
                Name: '[Назва]',
                Author: '[Автор]',
                Category: '[Категорія]',
                View: '[Переглядів]',
                NewsDeleteUrl:'@Url.Action("Delete","News")',
                NewsEditUrl: '@Url.Action("Edit","News")',
                NewsCreateUrl: '@Url.Action("Create","News")',
            };

    </script>
}
