﻿@model EasyTest.Entity.ViewModel.NewsViewModel

@using WebApp.Helpers;
@using Microsoft.AspNet.Identity;

@{
    var oper = (Model.News.Id == 0 ? OperType.Insert : OperType.Update);

    ViewBag.Title = oper;

    var culture = CultureHelper.GetNeutralCulture(CultureHelper.GetCurrentCulture());
}

@if (ViewData["success"] != null)
{
    <div class="alert alert-success" role="alert">@ViewData["success"]</div>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.News.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.NewsLang.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NewsLang.Name, new { @class = "form-control " })
                @Html.ValidationMessageFor(model => model.NewsLang.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.News.Image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(model => model.News.Image)
                <div class="container" id="crop-avatar">
                    <div class="avatar-view" title="@Resource.GlobalRes.ChangeImage">
                        <img src="~/Content/Images/News/@(Model.News.Image)" alt="Avatar">
                    </div>
                </div>
                @Html.ValidationMessageFor(model => model.News.Image, "", new { @class = "text-danger" })

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.NewsLang.ShortText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NewsLang.ShortText, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.NewsLang.ShortText, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.News.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.Bootstrap().DropDownListFor(model => model.News.CategoryID, (IEnumerable<SelectListItem>)ViewBag.NewsCategories).Class("form-control").OptionLabel("[Select]")

                @Html.ValidationMessageFor(model => model.News.CategoryID, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.NewsLang.Text, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.NewsLang.Text, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.NewsLang.Text, "", new { @class = "text-danger" })
            </div>
        </div>

        @{

            if (oper == OperType.Insert)
            {
                { Html.RenderPartial("_UpdateTimeCreatedView",  Model); }
            }
            else
            {
                bool condition1 = Model.News.UserId == User.Identity.GetUserId<Int32>();
                bool condition2 = Model.DateTime >= DateTime.Now;

                if (condition1 && condition2)
                {
                    Html.RenderPartial("_UpdateTimeCreatedView",new {DateTime = Model });
                }
            }
                }

        <div class="form-group">
            @Html.LabelFor(model => model.NewsLang.Keywords, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NewsLang.Keywords, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewsLang.Keywords, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                @Html.Bootstrap().SubmitButton().Text("Додати").Id("submitForm").Class("btn-success")
                @Html.Bootstrap().Button().Text("Pre View").Id("ShowWindowPreView")
            </div>
        </div>

    </div>
            }
@{Html.RenderPartial("NewsPreView");}

@section style{
    <link href="~/Content/css/cropper.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap3/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker3/ans-bootstrapdatetimepicker.min.css" rel="stylesheet" />
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/cropper.min.js"></script>
    <script src="~/Scripts/CroperMain.js"></script>
    <script src="~/Content/moment2/moment.min.js"></script>
    <script src="~/Content/moment2/locale/@(culture).min.js"></script>
    <script src="~/Content/bootstrap-datetimepicker3/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/bootstrap-datetimepicker3/ans-bootstrapdatetimepicker.min.js"></script>

    <script type="text/javascript">

        var paramsFromView = {

            ModalTitle: '@Resource.GlobalRes.UploadImage',
            PartialView: '@Url.Action("_UploadNewsImage", "Upload")',
            ImageUploadFail: '@Resource.GlobalRes.ImageUploadFail',
            InputElem: '#News_Image'//hardcode


        };
        console.log(paramsFromView.InputElem);
        $(function () {





            $('#DateTime').datetimepicker({
                locale: '@culture',
            });
            var data = ["Name", "Image", "ShortText", "Text", "CategoryID", "View", "DateTime", "AuthorID"];

            //$('#submitForm').click(function (e) {
            //    $('.ckeditor').each(function () {
            //        var name = $(this).attr('name');
            //        CKEDITOR.instances[name].updateElement();
            //        var ckVal = CKEDITOR.instances[name].getData();
            //        if (ckVal == '') {
            //            e.preventDefault();
            //            BootstrapDialog.show({
            //                size: BootstrapDialog.SIZE_SMALL,
            //                type: BootstrapDialog.TYPE_WARNING,
            //                title: '[Попередження]:',
            //                message: '[Введіть текст новини]',
            //            });


            //        }
            //    });
            //});
            $('#ShowWindowPreView').click(function () {
                for (var elem in data) {

                    var val = $('#' + data[elem]).val();
                    var preViewElem = $('#' + data[elem] + "PreView");

                    switch (data[elem]) {
                        case "Image":
                            preViewElem.attr("src", "@Url.Content("~/Content/Images/News/")" + val);
                            break;
                        case "Text":

                            preViewElem.html(CKEDITOR.instances[data[elem]].getData());
                            break;
                        case "CategoryID":

                            preViewElem.text($("#" + data[elem] + " option:selected").text());
                            break;

                        default:
                            preViewElem.text(val);
                            break;
                    }
                }
                $('#preView').modal();
            });
            CKEDITOR.replace('Text', {
                filebrowserBrowseUrl: '@Url.Action("FilebrowserBrowse", "Upload")',
                filebrowserUploadUrl: '@Url.Action("CkeUpload", "Upload")',
                filebrowserWindowWidth: 800,
                filebrowserWindowHeight: 600,
                ignoreEmptyParagraph: false
            });
        });
    </script>
}
