﻿<div class="modal fade" id="preView" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Pre View</h4>
            </div>
            <div class="modal-body">

                <div class="my-container center-block ">
                    <div class="news-item">
                        <div class="row">
                            <a class="news-name" href="#">
                                <h3 id="NamePreView"></h3>
                            </a>
                        </div>
                        <div class="row">
                            <div class="hidden-xs col-sm-3 col-lg-3 ">
                                <ul class="nav news-info ">
                                    <li><i class="fa fa-user-md"></i><span id="AuthorIDPreView"></span></li>
                                    <li><i class="fa fa-calendar"></i><span id="DateTimePreView"></span></li>
                                    <li><i class="fa fa-calendar"></i><span id="CategoryIDPreView"></span></li>
                                    <li><i class="fa fa-comment-o"></i><span></span></li>
                                    <li><i class="fa fa-eye"></i><span id="ViewPreView"></span></li>
                                </ul>
                            </div>
                            <div class="col-sm-9 col-lg-9 news-image ">
                                <img id="ImagePreView" class="img-rounded img-responsive" src="" height="240" alt="Картинка" />
                            </div>
                        </div>
                        <div class="row">
                            <p id="ShortTextPreView" class="news-description">

                            </p>
                        </div>
                    </div>
                    <div class="news-item">
                        <div id="TextPreView" class="news-text">

                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
            </div>
        </div>
    </div>
</div>
