﻿@model WebApp.Areas.AdminAuth.Models.TranslateEntityViewModel<EasyTest.Entity.NewsLang>

@{
    ViewBag.Title = Resource.GlobalRes.TranslateNewsTitle;

}

<div class="row">
    <div class="col-md-6">
        @Html.Action("GetOriginalNews", "News", new { id = Model.Entity.NewsId, CultureFrom = Model.CultureFrom })
    </div>
    <div class="col-md-6">
        @{Html.RenderPartial("_Translate", Model);}
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    @*<script src="//cdn.ckeditor.com/4.4.4/full/ckeditor.js"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dd.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('.LanguageFrom').msDropDown();
            $('.LanguageTo').msDropDown();

            $('#submitForm').click(function (e) {
                $('.ckeditor').each(function () {
                    var name = $(this).attr('name');
                    CKEDITOR.instances[name].updateElement();
                    var ckVal = CKEDITOR.instances[name].getData();
                    if (ckVal == '') {
                        alert('Введіть текст новини');
                        e.preventDefault();
                    }
                });


            });



            $(".LanguageFrom").change(function () {

                var CultureFrom = $(this).val();

                console.log(CultureFrom);

                var url = "@Url.Action("GetOriginalNews", "News", new { id = Model.NewsLang.NewsId })";
                $.ajax(url, {
                    type: 'Get',
                    data: { CultureFrom: CultureFrom },
                    dataType: 'json',
                    beforeSend: function () {
                        //animtionStart
                    },

                    success: function (result) {

                        $("#NewsName").val(result.Name);
                        $("#NewsShortText").val(result.ShortText);
                        CKEDITOR.instances['Text'].setData(result.Text);
                        $("#NewsKeywords").val(result.Keywords);
                    },

                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(errorThrown);
                    },

                    complete: function () {
                        //animtion Stop
                        $("#CultureFrom").val(CultureFrom);
                    }
                });



            });


        });
        CKEDITOR.replace('Text', {
            removePlugins: 'toolbar',
            disabled: true
        });

        CKEDITOR.replace('NewsLang_Text', {
            filebrowserBrowseUrl: '@Url.Action("FilebrowserBrowse", "Upload")',
            filebrowserUploadUrl: '@Url.Action("CkeUpload", "Upload")',
            filebrowserWindowWidth: 800,
            filebrowserWindowHeight: 600,
            ignoreEmptyParagraph: true,

        });
    </script>

}


