﻿@model EasyTest.Entity.Feedback
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Insert", "Feedback", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary(true);
    <div class="col-md-6">

        <div class="form-group ">
            @Html.Bootstrap().LabelFor(model => model.Name).Class("control-label col-md-2")
            <div class="col-md-10">
                @Html.Bootstrap().TextBoxFor(model => model.Name).Class("form-control").Placeholder("Тарас")
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="form-group ">
            @Html.Bootstrap().LabelFor(model => model.Email).Class("control-label col-md-2")
            <div class="col-md-10">
                @Html.Bootstrap().TextBoxFor(model => model.Email).Class("form-control").Placeholder("example@gmail.com")
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>
        <div class="form-group ">
            @Html.Bootstrap().LabelFor(model => model.Name).Class("control-label col-md-2")
            <div class="col-md-10">


				<select id="Name" name="Name" class="form-control">

					@foreach (var cat in (IEnumerable<EasyTest.Entity.FeedbackCategory>)ViewBag.Subject)
					{
						<option value="@cat.ID">@Resource.Extend.GetString(@cat.Name)</option>
					}
				</select>


                @Html.Bootstrap().DropDownListFor(model => model.Name, (IEnumerable<SelectListItem>)ViewBag.Subject).Class("form-control").OptionLabel("--Обрати--")
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
    </div>

    <div class="col-md-6">
        @Html.Bootstrap().TextAreaFor(model => model.Message).Class("form-control message").Placeholder("Введіть ваше повідомлення тут")
        @*@{Html.RenderAction("ShowCaptcha", "Captcha");}*@
        @Html.Bootstrap().SubmitButton().Text("Надіслати").Class("btn-primary")


    </div>

}

