﻿@model IEnumerable<EasyTest.Entity.ViewModel.NewsCategoryViewModel>

@helper Current(String category)
{

if (String.Compare(category, ViewBag.SelectedCategory) == 0)
{
        @:active
    }
}


<div class="widget categories">
    <h3>@Resource.GlobalRes.Categories</h3>
    <div class="row">
        <div class="col-sm-6">
            <ul class="blog_category">
                <li class="@Current(null)"><a href="@Url.Action("All","News",new {  category = String.Empty})">@Resource.GlobalRes.All<span class="badge">@Model.Sum(x=>x.NewsCount)</span></a></li>

                @foreach (var item in Model)
                {
                    <li class="@Current(item.Categories.Name)"><a href="@Url.Action("All","News",new{ category = item.Categories.Name})">@item.Categories.Name<span class="badge">@item.NewsCount</span></a> </li>
                }

            </ul>
        </div>
    </div>
</div><!--/.categories-->
