﻿@model IQueryable<EasyTest.Entity.Country>



        @using (Ajax.BeginForm("SelectUniversity", "CascadingUniversityDropDown", new AjaxOptions { UpdateTargetId = "University" }))
        {
            <select name="CountryID" id="CountryID" class="col-lg-12">
                @foreach (var item in Model)
                {
                    <option value='@item.ID'
                            data-image="@Url.Content("~/Content/Images/blank.gif")"
                            data-imagecss="flag @item.Icon"
                            data-title="@Resource.Extend.GetString(item.Name)">
                        @Resource.Extend.GetString(item.Name)
                    </option>
                }
            </select>
        }
      
<script type="text/javascript">
    alert("aaa");
    $(function () {
        $('#CountryID').change(function () {
            console.log("aa");
            $(this).parents('form').submit();
        });
    });

   
</script>
