﻿@model IEnumerable<EasyTest.Entity.ViewModel.DepartamentViewModel>

@using (Ajax.BeginForm("SelectCathedra", "CascadingUniversityDropDown", new AjaxOptions { UpdateTargetId = "Cathedra" }))
{

    @Html.Hidden("UniversityID",1)

    @Html.DropDownList(
             "DepartamentID",
            new SelectList(Model, "ID", "Name"),
            string.Empty
            )
}

   

<script type="text/javascript">
    $('#DepartamentID').change(function () {
        $(this).parents('form').submit();
    });
</script>

