﻿@model IEnumerable<EasyTest.Entity.ViewModel.UniversityViewModel>


@using (Ajax.BeginForm("SelectDepartament", "CascadingUniversityDropDown", new AjaxOptions { UpdateTargetId = "Departament" }))
{
    <select name="UniversityID" class="col-lg-12 form-control">
        @foreach (var item in Model)
        {
            <option value='@item.ID'>@item.Name (@(item.City)) </option>
        }
    </select>
}
<script type="text/javascript">
    $('#UniversityID').change(function () {
        $(this).parents('form').submit();
    });
</script>
