﻿@{
    ViewBag.Title = "Home Page";
}



    <div class="container-fluid block style1">
        <div class="container">


                <div class="row">
                    <div class="col-lg-6">
                        <div class="textContent">
                            <h3 class="text-center">EasyTest - програма для легкого складання тестів </h3>
                            <div class="someText">
                                <p>sometext</p>
                                <p>sometext</p>
                                <p>sometext</p>
                                <p>sometext</p>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="image">
                            <img class="img-rounded img-responsive" src="" alt=" " title=" " style="width:500px;height:300px;" />
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="container-fluid  block style2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <div class="image">
                        <img class="img-rounded img-responsive" src="" alt=" " title=" " style="width:500px;height:300px;" />
                    </div>

                </div>
                <div class="col-lg-6">

                    <div class="textContent">
                        <h1>EasyTest - програма для легкого складання тестів </h1>
                        <div class="someText">
                            <p>sometext</p>
                            <p>sometext</p>
                            <p>sometext</p>
                            <p>sometext</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid  block">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">Text</div>
                <div class="col-lg-6">Image</div>
            </div>
        </div>
    </div>
