﻿@using PagedList.Mvc;
@using PagedList;
@using EasyTest.BL.Helpers;

@model PagedList<EasyTest.Entity.ViewModel.NewsViewModel>

@{
    ViewBag.Title = Resource.GlobalRes.AllNews;
}

<div class="container">
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                @foreach (var item in Model)
                {
                    bool translated = item.NewsLang != null;
                  
                    <div class="blog-item">
                        <div class="row">
                            <div class="col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="publish_date">@item.News.TimeCreated.ToDateTime()</span>
                                    <span><i class="fa fa-user"></i><a href="#">@String.Format("{0} {1}", item.UserInfo.FirstName, item.UserInfo.LastName)</a></span>
                                    <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                                    <span><i class="fa fa-calendar"></i><a href="@Url.Action("All", new { category = item.NewsCategory.Name })">@Resource.Extend.GetString(item.NewsCategory.Name)</a></span>
                                    <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                                    <span>
                                        <i class="fa fa-eye"></i><a href="#">
                                            @{if (translated)
                                                { @item.NewsLang.View;
                                                }}
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 blog-content">
                            <a href=""><img class="img-responsive img-blog" src="@Url.Content("~/Content/Images/News/" + @item.News.Image)" width="100%" alt=""></a>
                            <h2>
                                <a href="@Url.Action("Show", "News", new { id = @item.News.Id })">
                                   
                                   
                                        @if (translated) { @item.NewsLang.Name; }

                                                                 
                            </a>
                        </h2>
                        <p>
                           

                                @if (translated)
                                { @item.NewsLang.ShortText;
                                }

                            
                    </p>
                    <a class="btn btn-primary readmore" href="@Url.Action("Show", "News", new { id = @item.GenerateSlug() })">@Resource.GlobalRes.ReadMore <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div><!--/.blog-item-->
                                    }

                @if (Model != null && Model.PageCount > 1)
                {
                    @Html.PagedListPager(
     (IPagedList)Model, page =>
                         Url.Action("All", new { category = ViewBag.SelectedCategory, page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

                    <p>Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount news</p>
                }


            </div><!--/.col-md-8-->

            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                        <input type="text" class="form-control search_box" autocomplete="off" placeholder="@Resource.GlobalRes.SearchHere">
                    </form>
                </div><!--/.search-->
                @{ Html.RenderAction("Index", "NewsCategory");}

                @{ Html.RenderAction("Archieve");}




            </aside>
        </div><!--/.row-->
    </div>


</div>
