﻿@model Dictionary<String, Int32>

<div class="widget archieve">
    <h3>@Resource.GlobalRes.Archieve</h3>
    <div class="row">
        <div class="col-sm-12">
            <ul class="blog_archieve">
                @foreach (var item in Model)
                {
                    <li><a href="@Url.Action("All",new { dt = item.Key})"><i class="fa fa-angle-double-right"></i> @item.Key<span class="pull-right">(@item.Value)</span></a></li>
                }
            </ul>
        </div>
    </div>
</div><!--/.archieve-->
