﻿@model EasyTest.Entity.ViewModel.NewsViewModel

@using EasyTest.BL.Helpers;

@{
    bool translated = Model.NewsLang != null;

    ViewBag.Title = translated==true?Model.NewsLang.Name:"";


}

<div class="container">
    <div class="blog">
        <div class="row">
            <div class="col-md-9">
                <div class="blog-item">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 text-center">
                            <div class="entry-meta">
                                <span id="publish_date">@Model.News.TimeCreated.ToDateTime()</span>
                                <span><i class="fa fa-user"></i><a href="#">@String.Format("{0} {1}", Model.UserInfo.FirstName, Model.UserInfo.LastName)</a></span>
                                <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                                <span><i class="fa fa-calendar"></i><a href="@Url.Action("All", new { category = Model.NewsCategory.Name })">@Resource.Extend.GetString(Model.NewsCategory.Name)</a></span>
                                <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
                                <span>
                                    <i class="fa fa-eye"></i><a href="#">
                                        @{if (translated)
                                            { @Model.NewsLang.View;
                                            }}
                                    </a>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-10 blog-content">
                            <h2 class="text-center">
                                @{if (translated)
                                    {
                                        @Model.NewsLang.Name;
                                    }
                                }
                            </h2>
                            @if (translated)
                            {@Html.Raw(Model.NewsLang.Text)}
                        </div>
                    </div>
                </div><!--/.blog-item-->
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
</div>