﻿@model WebApp.Models.CaptchaModel
<div id="CaptchaContainer">
    <div class="row">
        <div class="col-md-6">
            @Html.Bootstrap().LabelFor(model => model.CaptchaAnswer).Class("control-label col-md-3")
            <div class="col-md-9">
                <img src="@Url.Action("CaptchaImage","Captcha")" id="captchaImage" alt="Captcha" />

                <a href="@Url.Action("CaptchaImage", "Captcha")" id="refreshCaptcha"><i class="fa fa-refresh"></i></a>
                <i class="fa fa-spinner fa-pulse loading" style="display:none"></i>
                <a href="@Url.Action("HelpMe","Captcha")" id="captchaHelp"><i class="fa fa-question"></i></a>
                <div id="captchaAnswers"></div>
            </div>
        </div>
        <div class="col-md-6">
            <label for="captcha" class="control-label col-md-3"> [Ввести відповідь]</label>
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.CaptchaAnswer, new { @class = "form-control", type = "number" })
                @Html.ValidationMessageFor(model => model.CaptchaAnswer)
            </div>
        </div>
    </div>
</div>


