﻿@model IQueryable<EasyTest.Entity.Country>

@helper selected(Int32 selectedID, Int32 itemID)
{
		if (selectedID == itemID)
		{
				@:selected="selected"
		}
}

<select name="CountryID" id="CountryID" style="width:100%;">

	@{
        Boolean IsSelect = false;
        Int32 selectedID=-1;

        if (ViewData["selectedID"]!=null && ViewData["selectedID"] is Int32)
        {
            IsSelect = true;
            selectedID = (Int32)ViewData["selectedID"];
        }
	}

    
	@foreach (var item in Model)
	{
		<option value='@item.ID'
				data-image="@Url.Content("~/Content/Images/blank.gif")"
				data-imagecss="flag @item.Icon"
				data-title="@item.Name"
				@if (IsSelect) {@selected(selectedID, item.ID); }
				>
			@Resource.Extend.GetString(item.Name)
		</option>
}
</select>

