﻿@model IList<EasyTest.Entity.Language>
@{ 
    var culture =  CultureHelper.GetCurrentCulture();  
    
   
}

@helper selected(string c, string culture)
{
    if ( String.Compare(c,culture,true)==0)
    {
        @:selected="selected"
    }
}


@using (Html.BeginForm("SetCulture", "Language", FormMethod.Post, new { id = "SelectLangForm",@class="pull-right" }))
{
   
    <select name="culture" id="Countries" style="width:230px;">

        @foreach (var lang in Model)
        {
            <option value='@lang.Code'
                    data-image="@Url.Content("~/Content/Images/blank.gif")"
                    data-imagecss="flag @lang.Icon"
                    data-title="@lang.NativeName"
                    @selected(lang.Code, culture)>

                @lang.NativeName <text>(</text>@lang.EnglishName<text>)</text>
            </option>
        }


    </select>


}




