﻿@model EasyTest.Entity.ViewModel.PageViewModel
@{
    ViewBag.Title = "[Статичні сторінки]";
}

<div class="col-md-12">

    @if (ViewData["message"] != null)
    {
        <div class="alert alert-success" role="alert">@ViewData["message"]</div>
    }
    
    @using (Html.BeginForm("Update", "Page", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        
        @Html.HiddenFor(model => model.PageID)

        <div class="form-group ">
            @Html.Bootstrap().Label("[Сторінка]").Class("control-label col-md-2")
            <div class="col-md-6">
                @Html.Bootstrap().DropDownList("currentPage", (IEnumerable<SelectListItem>)ViewBag.Pages).Class("form-control")
            </div>
        </div>
            
        <div class="form-group ">
            @Html.Bootstrap().LabelFor(model => model.Name).Class("control-label col-md-2")
            <div class="col-md-6">
                @Html.Bootstrap().TextBoxFor(model => model.Name).Class("form-control")
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

    


        <div class="form-group ">
            @Html.Bootstrap().LabelFor(model => model.Description).Class("control-label col-md-2")
            <div class="col-md-6">
                @Html.Bootstrap().TextBoxFor(model => model.Description).Class("form-control")
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>
        <div class="form-group ">
            @Html.Bootstrap().LabelFor(model => model.Keywords).Class("control-label col-md-2")
            <div class="col-md-6">
                @Html.Bootstrap().TextBoxFor(model => model.Keywords).Class("form-control")
                @Html.ValidationMessageFor(model => model.Keywords)
            </div>
        </div>

        <div class="form-group ">

            @Html.Bootstrap().LabelFor(model => model.Text).Class("control-label col-md-2")
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Text, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        </div>
        @Html.Bootstrap().SubmitButton().Text("[Оновити]").Class("col-md-2 btn-primary pull-right ")
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="//cdn.ckeditor.com/4.4.4/full/ckeditor.js"></script>
    <script type="text/javascript">

        $(function () {

            CKEDITOR.replace('PageText', {
                filebrowserBrowseUrl: '@Url.Action("FilebrowserBrowse", "Upload")',
                filebrowserUploadUrl: '@Url.Action("CkeUpload", "Upload")',
                filebrowserWindowWidth: 800,
                filebrowserWindowHeight: 600,
                ignoreEmptyParagraph: false

            });
          

           
            $('#currentPage').change(function () {

                $.ajax({
                    type: "Get",
                    url: '@Url.Action("Index", "Page")' + '?id=' + this.value,
                    success: function (result) {

                        $("#PageID").val(result.PageID);
                        $("#Name").val(result.Name);
                        $("#Title").val(result.Title);
                        $("#Description").val(result.Description);
                        $("#Keywords").val(result.Keywords);
                        CKEDITOR.instances['Text'].setData(result.Text);
                      //  CKEDITOR.instances['PageText'].updateElement();
                    }
                });
            });
        });
    </script>
}
