﻿@model  WebApp.Areas.AdminAuth.Models.TranslateEntityViewModel<EasyTest.Entity.Departament>

    @{Layout = null;}

    @Html.Partial("_language", Model.SupportedLanguages.Where(x => Model.Translated.Contains(x.ID)), new ViewDataDictionary { { "selected", Model.Entity.LanguageId }, { "pref", "From" }, { "name", "LanguageFrom" } })

    <div class="form-group">
        @Html.LabelFor(model => model.Entity.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10 name-field">
            @Html.DisplayFor(model => model.Entity.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>

