﻿@model EasyTest.Entity.Departament
@{
    Layout = null;
}

@using (Html.BeginForm("DepartamentCathedra", "Departament",null,FormMethod.Post,new { id= "UniversityDepartamentCathedraForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.Hidden("UniversityID", ViewData["UniversityID"])
    <div class="form-horizontal">
        <div class="form-group ">
            @Html.Bootstrap().LabelFor(model => model.DepartamentsCathedras).Class("control-label col-md-2")
            <div class="col-md-6">
                @Html.Bootstrap().ListBox("selectedCathedra", (IEnumerable<SelectListItem>)ViewBag.Cathedra).Class("multiselect")
                @Html.ValidationMessageFor(model => model.DepartamentsCathedras)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Додати" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<link rel="stylesheet" href="~/Content/css/admin/bootstrap-multiselect.css" type="text/css" />
<script type="text/javascript" src="~/Scripts/admin/bootstrap-multiselect.js"></script>
<script type="text/javascript">

    $(function () {

        $('.multiselect').multiselect({
            enableCaseInsensitiveFiltering: true,
            buttonText: function (options, select) {
                if (options.length == 0) {
                    return "[Обрати]:";
                }
                else {
                    if (options.length > this.numberDisplayed) {
                        return options.length + ' ' + this.nSelectedText + ' <b class="caret"></b>';
                    }
                    else {
                        var selected = '';
                        options.each(function () {
                            var label = ($(this).attr('label') !== undefined) ? $(this).attr('label') : $(this).html();
                            selected += label + ', ';
                        });
                        return selected.substr(0, selected.length - 2) + ' <b class="caret"></b>';
                    }
                }
            }
        });


    });
</script>
