﻿@model EasyTest.Entity.Departament

@using WebApp.Helpers;



@{
    var oper= (Model.Id == 0 ? OperType.Insert:OperType.Update);

    ViewBag.Title = "Departament"+ oper;
}

@if (ViewData["success"] != null)
{
    <div class="alert alert-success" role="alert">@ViewData["success"]</div>
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(m=>m.Id)
		<div class="form-group">
			@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
			</div>
		</div>

        @if (oper == OperType.Insert)
        { 
        
            <div class="form-group">
                @Html.Label("[Додати ще один запис]", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBox("stay", new { htmlAttributes = new { @class = "form-control" } })
                  
                </div>
            </div>
        
        }


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="@(oper)" class="btn btn-default" />
			</div>
		</div>
	</div>
}

