﻿@model WebApp.Areas.AdminAuth.Models.TranslateEntityViewModel<EasyTest.Entity.Departament>

@{
	ViewBag.Title = "Translate";
}

<div class="row">
	<div class="col-md-6">

		@Html.Action("GetOriginal", "Departament", new { ParentID = Model.Entity.ParentId, CultureFrom = Model.CultureFrom })
			
	</div>
	<div class="col-md-6">	
		@{Html.RenderPartial("_Translate", Model);}
	</div>
</div>

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
@section scripts
{
	@Scripts.Render("~/bundles/jqueryval")
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dd.js")"></script>
	<script type="text/javascript">
        $(function () {

            $('.LanguageFrom').msDropDown();
            $('.LanguageTo').msDropDown();

            $(".LanguageFrom").change(function () {

                var CultureFrom = $(this).val();

                $.ajax({
                    url: "@Url.Action("GetOriginal", "Departament", new { ParentID = Model.Entity.ParentId })",
                    data: { CultureFrom: CultureFrom },
                method: "Get",
                success: function (data) {
            
                    $(".name-field").html(data.Name);
                    
                    $('#CultureFrom').val(CultureFrom);
                }
            });
        });

        });
	</script>
}


