﻿@model WebApp.Areas.AdminAuth.Models.TranslateEntityViewModel<EasyTest.Entity.UniversitiesLang>

@{Layout = null; }

<div class="form-horizontal">

    @Html.Partial("_language", Model.SupportedLanguages.Where(x =>Model.Translated.Contains(x.ID)), new ViewDataDictionary { { "selected", Model.Entity.LanguageId }, { "pref", "From" },{"name", "LanguageFrom" } })
        <div class="form-group">
            @Html.LabelFor(m => m.Entity.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 name-field">
                @Html.DisplayFor(m => m.Entity.Name)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Entity.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 city-field">
                @Html.DisplayFor(m => m.Entity.City)
            </div>
        </div>
</div>
