﻿@using WebApp.Helpers;

@{
    ViewBag.Title = "[Університети]";

    var culture = CultureHelper.GetNeutralCulture(CultureHelper.GetCurrentCulture());

    if ("uk" == culture)
    {
        culture = "ua";
    }
}

@if (ViewData["success"] != null)
{
    <div class="alert alert-success" role="alert">@ViewData["success"]</div>
}


<div class="container" id="VNZ">

    <button disabled class="btn btn-success load-grid" data-grid-id="UniversityHierarchy" data-url="@Url.Action("GetUniversityList", "University")">Load All</button>
    <button class="btn btn-success load-grid" data-grid-id="University" data-url="@Url.Action("GetTodoList", "University")">Load University</button>
    <button class="btn btn-success load-grid" data-grid-id="Departament" data-url="@Url.Action("GetTodoList", "Departament")">Load Departament</button>
    <button class="btn btn-success load-grid" data-grid-id="Cathedra" data-url="@Url.Action("GetTodoList", "Cathedra")">Load Cathedra</button>


    <div id="UniversityHierarchy" style="display:none">
        <table id="gridUniversityHierarchy"></table>
        <div id="gridUniversityHierarchyPager"></div>
    </div>


    <div id="University" style="display:none">
        <table id="gridUniversity"></table>
        <div id="pagerUniversity"></div>
    </div>

    <div id="Departament" style="display:none">
        <table id="gridDepartament"></table>
        <div id="pagerDepartament"></div>
    </div>

    <div id="Cathedra" style="display:none">
        <table id="gridCathedra"></table>
        <div id="pagerCathedra"></div>
    </div>
</div>


@section style{
    <link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet">
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet">
}

@section scripts
{   <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dd.js")"></script>
  
    <script src="~/Scripts/jquery.jqGrid.js"></script>
<script src="~/Scripts/jquery-ui-1.10.0.min.js"></script>
    <script src="~/Scripts/i18n/grid.locale-@(culture).js"></script>
   
   <script src="~/Scripts/admin/JqGrid/JqGridTranslation.js"></script>
   <script src="~/Scripts/admin/JqGrid/VNZHieraechy.js"></script>
   <script src="~/Scripts/admin/JqGrid/JqGridUniversity.js"></script>
   <script src="~/Scripts/admin/JqGrid/JqGridDepartament.js"></script>
   <script src="~/Scripts/admin/JqGrid/JqGridCathedra.js"></script>

    <script>
        var paramFromView = {

            Name: '@Resource.GlobalRes.NameDispay',
            CountryName: '@Resource.GlobalRes.CountryDisplayName',
            City: '@Resource.GlobalRes.Town',
            LMS: '@Resource.GlobalRes.LMS',
            DateTime: '@Resource.GlobalRes.DateTimeDisplay',
            Translated: '@Resource.GlobalRes.TranslateDisplayName',
            NotTranslate: '@Resource.GlobalRes.NotTranslate',

            UniversityCreateUrl: '@Url.Action("Create","University")',
            DepartamentCreateUrl: '@Url.Action("Create","Departament")',
            CathedraCreateUrl: '@Url.Action("Create","Cathedra")',

            UniversityEditUrl: '@Url.Action("Edit","University")',
            DepartamentEditUrl: '@Url.Action("Edit","Departament")',
            CathedraEditUrl: '@Url.Action("Edit","Cathedra")',

            UniversityDeleteUrl: '@Url.Action("Delete","University")',
            DepartamentDeleteUrl: '@Url.Action("Delete", "Departament")',
            CathedraDeleteUrl: '@Url.Action("Delete", "Cathedra")',

            UniversityTranslateUrl: '@Url.Action("Translate","University")',
            DepartamentTranslateUrl: '@Url.Action("Translate","Departament")',
            CathedraTranslateUrl: '@Url.Action("Translate","Cathedra")',

            jqGridUniversityHierarchyUrl: '@Url.Action("GetUniversityList", "University")',
            DepartamentHierarchyGridUrl: '@Url.Action("GetDepartaments", "Departament")',
            CathedraHierarchyGridUrl: '@Url.Action("GetCathedra", "Cathedra")',

            AddDepartamentInHierarchyUrl: '@Url.Action("UniversityDepartaments", "University")',
            AddCathedraInHierarhyUrl: '@Url.Action("DepartamentCathedra", "Departament")',

            DeleteDepartamentInHierarchyUrl: '@Url.Action("DeleteDepartamentInHierarchy", "University")',
            DeleteCathedraInHierarchyUrl: '@Url.Action("DeleteCathedraInHierarchy", "Departament")',
        };

       

        $(function () {


            $(".load-grid").click(function () {
                ShowGrid($(this));
            });

           


            var previousGrid = $('.load-grid:disabled');
           
          
            function ShowGrid(elem) {

                if (previousGrid != undefined) {

                    previousGrid.prop("disabled", false);

                    $("#" + previousGrid.attr("data-grid-id")).hide();
                }

                previousGrid = elem;

                var url = elem.attr("data-url");

                var gridName = elem.attr("data-grid-id");

                elem.attr("disabled", "disabled");

                setURLParameter("Grid", gridName);
         
                $("#grid" + gridName).jqGrid().setGridParam({ datatype: 'json', page: 1, url: url }).trigger("reloadGrid");


                $("#" + gridName).show();
            };



            $(window).bind("load", function () {

                var grid = getURLParameter("Grid");

                var elem = $("button[data-grid-id=" + grid + "]");

                if (!(elem.length > 0)) {
                    elem = $("button[data-grid-id=UniversityHierarchy]")
                }

                ShowGrid(elem);

            });

   
        });
    </script>
}
