﻿@model EasyTest.Entity.ViewModel.UniversityViewModel

@using WebApp.Helpers;

@{
    var oper = (Model.Id == 0 ? OperType.Insert : OperType.Update);

    ViewBag.Title = @Resource.GlobalRes.AddUniversity;
}

@if (ViewData["success"] != null)
{
    <div class="alert alert-success" role="alert">@ViewData["success"]</div>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.UniversitiesLang.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.UniversitiesLang.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UniversitiesLang.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CountryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Partial("_SelectCountries", Model.Countries, new ViewDataDictionary { { "selectedID", Model.CountryId } })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.LMSID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Bootstrap().DropDownListFor(model => model.LMSID, (IEnumerable<SelectListItem>)ViewBag.LMS).Class("form-control").OptionLabel("--[Select]--")
                @Html.ValidationMessageFor(model => model.LMSID)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UniversitiesLang.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UniversitiesLang.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UniversitiesLang.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Domain, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Domain, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Domain, "", new { @class = "text-danger" })
            </div>
        </div>


       <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                @if (oper == OperType.Insert)
                {
                    <input type="submit" value="@Resource.GlobalRes.AddBtn" class="btn btn-default" />
                }
                else
                {
                    <input type="submit" value="@Resource.GlobalRes.UpdateBtn" class="btn btn-default" />
                }

            </div>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dd.js")"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $('#CountryID').msDropDown();
        });
    </script>
}
