﻿@model WebApp.Areas.AdminAuth.Models.TranslateEntityViewModel<EasyTest.Entity.UniversitiesLang>

@{
    ViewBag.Title = "UniversitiesLang";

    ViewBag.PageHeader = ViewBag.Title;

}

<div class="row">
    <div class="col-md-6">
        @Html.Action("GetOriginal", "University", new { id = Model.Entity.UniversityId, CultureFrom = Model.CultureFrom })
    </div>
    <div class="col-md-6">
        @{Html.RenderPartial("_Translation", Model);}
    </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.dd.js")"></script>
    <script type="text/javascript">
        $(function () {

            $('.LanguageFrom').msDropDown();
            $('.LanguageTo').msDropDown();

            $(".LanguageFrom").change(function () {

                var CultureFrom = $(this).val();

                $.ajax({
                    url: "@Url.Action("GetUniversitylang", "University", new { id= Model.Entity.UniversityId})",
                    data: { CultureFrom: CultureFrom },
                    method: "Get",
                    success: function (data) {

                        $(".name-field").html(data.Name);
                        $(".city-field").html(data.City)
                        $('#CultureFrom').val(CultureFrom);
                    }
                });
            });          
        });
    </script>
}


