﻿@using WebApp.Models
@model LoginViewModel
@{
    Uri myuri = new Uri(System.Web.HttpContext.Current.Request.Url.AbsoluteUri);
    string pathQuery = myuri.PathAndQuery;
    string hostName = myuri.ToString().Replace(pathQuery, "");
   Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>EasyTest|Авторизація</title>
	<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
	@Styles.Render("~/bundles/login")
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
<body class="login-page">
	<div class="login-box">
		<div class="login-logo">
			<a href="#"><b>EasyTest</b>Admin</a>
		</div><!-- /.login-logo -->
		<div class="login-box-body">
			<p class="login-box-msg">Sign in to start your session</p>
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "SignInForm" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				<div class="form-group has-feedback">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
					
					<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
					@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
				</div>
				<div class="form-group has-feedback">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
				
					<span class="glyphicon glyphicon-lock form-control-feedback"></span>
					@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
				</div>
				<div class="row">
					<div class="col-xs-8">
						<div class="checkbox icheck">
							<label>
								<input type="checkbox"> Remember Me
							</label>
						</div>
					</div><!-- /.col -->
					<div class="col-xs-4">
						<button type="submit" id="SignInButton" class="btn btn-primary btn-block btn-flat">Sign In</button>
					</div><!-- /.col -->
				</div>
		
			}
			<div class="social-auth-links text-center">
				<p>- OR -</p>

				@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })

			</div><!-- /.social-auth-links -->
			@Html.ActionLink("Forgot your password?", "ForgotPassword")
		<br>
			@Html.ActionLink("Register a new membership", "Register",null,new  { @class= "text-center" })
			
		</div><!-- /.login-box-body -->
	</div><!-- /.login-box -->



	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/bootstrap")
	<!-- iCheck -->
	<script src="~/Plugins/iCheck/icheck.min.js" type="text/javascript"></script>
	<script>





        $(function () {


        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
	</script>

</body>
</html>

