﻿@model WebApp.Models.RegisterViewModel
@{
    ViewBag.Title = @Resource.GlobalRes.Register;
}

<div class="my-container center-block">
    <h3 class="text-center">[Реєстрація в EasyTest]</h3>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "example-advanced-form", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true)
 
        <h3>[Account]</h3>
        <fieldset>
            <legend>[Account Information]</legend>

            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })

                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })

                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>
            </div>

            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">

                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>
            </div>
            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.MiddleName, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control" })

                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.MiddleName)

                </div>
            </div>

            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
            </div>
            <div class="form-group has-feedback">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
            </div>


        </fieldset>

        <h3>[Education]</h3>
        <fieldset>
            <legend>Profile Information</legend>


            <div class="form-group">
                @Html.LabelFor(m => m.Countries, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">

                    @Html.Partial("_SelectCountries", Model.Countries)

                    @Html.ValidationMessageFor(model => model)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.UniversityID, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">

                    @Html.Bootstrap().DropDownListFor(m => m.UniversityID, Enumerable.Empty<SelectListItem>()).Class("form-control")
                    @Html.ValidationMessageFor(model => model.UniversityID)

                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.DepartamentID, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.Bootstrap().DropDownListFor(m => m.DepartamentID, Enumerable.Empty<SelectListItem>()).Class("form-control")

                    @Html.ValidationMessageFor(model => model.DepartamentID)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CathedraID, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.Bootstrap().DropDownListFor(m => m.CathedraID, Enumerable.Empty<SelectListItem>()).Class("form-control")

                    @Html.ValidationMessageFor(model => model.CathedraID)
                </div>
            </div>




            <div class="form-group">

                <div class="row">
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Course, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Course, new { @class = "form-control", type = "number" })
                            @Html.ValidationMessageFor(model => model.Course)

                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(m => m.Group, new { @class = "col-md-3 control-label" })
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.Group, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Group)

                        </div>
                    </div>
                </div>



            </div>

        </fieldset>

        <h3>Rules</h3>
        <fieldset>
            <legend style="margin-bottom:0">[Terms and Conditions]</legend>

            <div id="rules">
                <div class="box">
                    <div class="box-inner">
                        @Html.Raw(ViewBag.Rules)
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Terms, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">

                    <div class="checkbox icheck">
                   
                        @Html.CheckBoxFor(m => m.Terms, new { @class = "required" })
                         
                        </div>
                        @Html.ValidationMessageFor(model => model.Terms)
                    </div>
            </div>
        </fieldset>
    <h3>Finish</h3>
    <fieldset>
        <legend>[Answer the question]</legend>
        @{Html.RenderAction("ShowCaptcha", "Captcha");}



    </fieldset>

    }

</div>



@section style{
    <link href="~/Content/jquery.steps.css" rel="stylesheet" />
<link href="~/Plugins/iCheck/square/blue.css" rel="stylesheet" />
    
}

@section scripts {
<script src="~/Plugins/iCheck/icheck.min.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/jqueryval")
   

    <script src="~/Scripts/jquery.steps.js"></script>
    <script>

        var paramFromView = {
            UniversityUrl: '@Url.Action("SelectUniversity", "CascadingUniversityDropDown")',
            DepartamentUrl: '@Url.Action("SelectDepartament", "CascadingUniversityDropDown")',
            CathedraUrl: '@Url.Action("SelectCathedra", "CascadingUniversityDropDown")',
            UniversityID: '@Model.UniversityID',
            DepartamentID:'@Model.DepartamentID',
            CathedraID:'@Model.CathedraID',
        };


      



        $(function () {

   

            var form = $("#example-advanced-form").show();

            form.steps({
                headerTag: "h3",
                bodyTag: "fieldset",
                transitionEffect: "slideLeft",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Allways allow previous action even if the current form is not valid!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Needed in some cases if the user went back (clean up)
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        form.find(".body:eq(" + newIndex + ") label.error").remove();
                        form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
                    }
                    form.validate().settings.ignore = ":disabled,:hidden";
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {

                    // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        form.steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    form.validate().settings.ignore = ":disabled";
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    $("#example-advanced-form").submit();
                }
            }).validate({
                errorPlacement: function errorPlacement(error, element) { element.before(error); },
                rules: {
                  //  CaptchaAnswer: { required: true }
                }
            });

            $('#CountryID').msDropDown();

            GetCascadingData(paramFromView.UniversityUrl, { CountryID: $('#CountryID').val() }, $("#UniversityID"),paramFromView.UniversityID);

            $('#CountryID').change(function () {
                
                GetCascadingData(paramFromView.UniversityUrl, { CountryID: $(this).val() }, $("#UniversityID"));
            });

            $('#UniversityID').change(function () {
                var data = { UniversityID: $(this).val() };
                GetCascadingData(paramFromView.DepartamentUrl, data, $("#DepartamentID"),paramFromView.DepartamentID);
            });

            $('#DepartamentID').change(function () {
                var data = { UniversityID: $("#UniversityID").val(), DepartamentID: $(this).val() };
                GetCascadingData(paramFromView.CathedraUrl, data, $("#CathedraID"),paramFromView.CathedraID);
            });



            function GetCascadingData(url, data, updateElem,selected) {
                $.ajax({
                    type: 'POST',
                    url: url,
                    dataType: 'Json',
                    data: data,
                    success: function (result) {
                        if (result.success) {

                            updateElem.empty();

                            $(result.data).each(function () {


                                var elem  = $(document.createElement('option'))
                                     .attr('value', this.Value)
                                     .text(this.Text);

                                if (selected != undefined && selected==this.Value)
                                {
                                    elem.attr("selected", selected)
                                }

                                    elem.appendTo(updateElem);
                            });
                            updateElem.trigger("change");
                         
                        }
                    },
                    error: function (ex) {
                        updateElem.empty();
                        console.log("Error. Something wrong. " + ex);
                    }
                });

            };
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
           
        });


    </script>
<script src="~/Scripts/captcha.js"></script>

}
