﻿@base-font-family: "Bookman Old Style", Helvetica, sans-serif;
@blue-color: #3276b1;


.my-container {
    max-width: 800px;
    border: 1px solid #808080;
}

.news-item {
    margin: 15px 0;
}

.news-name {
    h3 {
        margin-top: 0;
        text-align: center;
        font-family: bold @base-font-family;
        color: #000;

        &:hover {
            color: @blue-color;
        }
    }

    text-decoration: none;
}

.news-image {
    img {
        max-height: 240px;
        width: 100%;
    }
}

.news-info {
    font-family: @base-font-family;
    padding-top: 45px;
    padding-left: 15px;

    li {
        margin-bottom: 15px;
        border-bottom: 1px dotted #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }

    i {
        margin-right: 15px;
    }
}

.news-description {
    padding-top: 25px;
    text-indent: 30px;
    font-family: Verdana,sans-serif;
}

.thumb {
    height: 75px;
    margin-right: 15px;
}

.image {
    position: relative;


    a {
        position: absolute;
        right: 0;
        width: 30px;
        height: 30px;
    }
}

.video {
    float: left;
    margin-right: 15px;
    position: relative;

    a.deleteVideo {
        position: absolute;
        right: 0;
        width: 30px;
        height: 30px;
        background: #fff;
        color: #000;
    }
}

.ui-jqgrid tr.jqgrow td {
    overflow: visible !important;
}

#VNZ {
    .ui-jqgrid {
        margin-bottom: 25px;
    }
}



.modalUploadBtn{
    margin-top:15px;

}
/*Upload image*/

.progress {
    padding: 10px 0;
}

#ImageView {
    width: 550px;
    height: 250px;
    border: 1px solid #000;
}

.avatar-view {
    display: block;
    width: 220px;
    border: 3px solid #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
    cursor: pointer;
    overflow: hidden;
}

.avatar-view img {
    width: 100%;
}

.avatar-body {
    padding-right: 15px;
    padding-left: 15px;
}

.avatar-upload {
    overflow: hidden;
}

.avatar-upload label {
    display: block;
    float: left;
    clear: left;
    width: 100px;
}


.avater-alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

.avatar-wrapper {
    height: 364px;
    width: 100%;
    margin-top: 15px;
    box-shadow: inset 0 0 5px rgba(0,0,0,.25);
    background-color: #fcfcfc;
    overflow: hidden;
}

.avatar-wrapper img {
    display: block;
    height: auto;
    max-width: 100%;
}

.avatar-preview {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    border: 1px solid #eee;
    border-radius: 4px;
    background-color: #fff;
    overflow: hidden;
}

.avatar-preview:hover {
    border-color: #ccf;
    box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.avatar-preview img {
    width: 100%;
}

.preview-lg {
    height: 184px;
    width: 184px;
    margin-top: 15px;
}

.preview-md {
    height: 100px;
    width: 100px;
}

.preview-sm {
    height: 50px;
    width: 50px;
}

.preview-xs {
    height: 35px;
    width: 20px;
}

@media (min-width: 992px) {
    .avatar-preview {
        float: left;
    }
}

.avatar-btns {
    margin-top: 30px;
    margin-bottom: 15px;
}

.docs-data .input-group {
    margin: 10px 0 10px 0;
    .input-group-addon {
        background-color:#eee!important;

    }
}

.avatar-btns .btn-group {
    margin-right: 5px;
    margin-bottom: 10px;
}

.loading {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #fff url("../img/loading.gif") no-repeat center center;
    opacity: .75;
    filter: alpha(opacity=75);
    z-index: 20140628;
}


/* Icons
 * -------------------------------------------------------------------------- */

.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../Images/icons.png");
  vertical-align: middle;
}

.icon-move {
  background-position: 0 0;
}

.icon-crop {
  background-position: -30px 0;
}

.icon-zoom-in {
  background-position: -60px 0;
}

.icon-zoom-out {
  background-position: -90px 0;
}

.icon-rotate-left {
  background-position: -120px 0;
}

.icon-rotate-right {
  background-position: -150px 0;
}

.icon-lock {
  background-position: -180px 0;
}

.icon-unlock {
  background-position: -210px 0;
}

.icon-remove {
  background-position: -240px 0;
}

.icon-refresh {
  background-position: -270px 0;
}

.icon-upload {
  background-position: -300px 0;
}

.icon-off {
  background-position: -330px 0;
}

.icon-info {
  background-position: -360px 0;
}

/*end upload image*/


