﻿@image: "../Images/";
@base-font-family: "Bookman Old Style", Helvetica, sans-serif;
@blue-color: #3276b1;

.border-radius(@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

html, body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -50px;
}

.page-wrap:after {
    content: "";
    display: block;
    height: 50px;
}

.header_top {
    background: #ededed;
}

#LogIn {
}

.social-icons ul li a {
    border: 0 none;
    border-radius: 0;
    color: #696763;
    padding: 0px;
}


.social-icons ul li {
    display: inline-block;
}

.social-icons ul li a i {
    padding: 11px 15px;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover {
    color: #fff;
    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}


.fa-facebook:hover {
    background: #0083C9;
}

.fa-twitter:hover {
    background: #5BBCEC;
}

.fa-linkedin:hover {
    background: #FF4518;
}

.fa-dribbble:hover {
    background: #90C9DC;
}

.fa-google-plus:hover {
    background: #CE3C2D;
}

.fa-rss:hover {
    background: #fc9a12;
}

.langContainer {
    /*position: absolute;
    top: 0;
    right: 0;*/
}

.header-middle .container .row {
    border-bottom: 1px solid #f5f5f5;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.top-menu {
    ul li {
        display: inline-block;
        padding-left: 15px;
        padding-right: 15px;

        &:last-child {
            padding-right: 0;
        }

        a {
            color: #696763;
            font-family: @base-font-family;
            font-size: 14px;
            font-weight: 300;
            margin-top: 10px;
            .border-radius(4px);

            &:hover {
                color: #fff;
                background: @blue-color;
            }

            i {
                margin-right: 3px;
            }
        }
    }
}

.logo {
}

#menu {
    background: #fff;
}


.block {
    min-height: 400px;

    .image {
        padding-top: 30px;
    }
}

.textContent {
}

.main-body{
    padding:30px 0;
}

.style2 {
    background: @blue-color;
}

#footer {
    background: #222222;
    color: #CCC;

    h3 {
        text-align: center;
    }
}

.about p {
    text-indent: 15px;
}

.copyright {
    text-align: center;
    padding-bottom: 15px;
}

.mediaInfo {
    a {
        color: #ccc;
    }

    img {
        margin-right: 15px;
    }

    a:hover {
        background: #808080 !important;
        color: #fff;
    }
}

.contactInfo li {
    div {
        display: block;
        position: relative;
        padding: 10px 15px;

        &:hover {
            background: #808080 !important;
            color: #fff;
        }
    }
}

.style1 {
    background: #fff;
}

.my-container {
    width: 80%;
    padding: 15px;
}


/*********************
****blog page css*****
**********************/

.widget {
  margin-bottom: 60px;
  padding-left: 0;
}

.single_comments {
  margin-bottom: 20px;
}

.single_comments img {
  float: left;
  margin-right: 10px;
  margin-top: 5px;
}

.single_comments p {
  margin-bottom: 0;
}

.widget .entry-meta span {
  display: inline-block;
  margin-right: 10px;
}

.widget h3 {
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.blog_category{
  list-style:none;
  margin:0;
  padding:0;
}

.blog_category li{
  float:none;
  margin-bottom:20px;
}

.blog_category li a {
  background:#f5f5f5;
  border-radius: 4px;
  color: #888;
  display: inline-block;
  padding: 5px 15px;
}

.blog_category li a:hover{
  background:#c52d2f;
  color: #fff;
}

 .badge:before {
  border-color: transparent transparent transparent #c52d2f;
  border-style: solid;
  border-width: 10px;
  bottom: -8px;
  content: "";
  height: 0;
  left: 5px;
  position: absolute;
  z-index: -99999;
}

.badge {
  background-color: #c52d2f;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  position: relative;
  left: 60px;
  top: -18px;
  font-weight: normal;
}

.blog_archieve {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.blog_archieve li {
  padding: 10px 0;
  border-bottom: 1px solid #f5f5f5;
}

.blog_archieve li:first-child {
  padding-top: 0;
}

ul.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.gallery li {
  display: block;
  width: 60px;
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
}

ul.faq {
  list-style: none;
  margin: 0;
}

ul.faq li {
  margin-top: 30px;
}

ul.faq li:first-child {
  margin-top: 0;
}

ul.faq li span.number {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #34495e;
  color: #fff;
  font-size: 24px;
}

ul.faq li > div {
  margin-left: 70px;
}

ul.faq li > div h3 {
  margin-top: 0;
}


.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-item {
  border-radius: 0;
  overflow: hidden;
  margin-bottom: 50px;
}

.blog .blog-item .img-blog {
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog .blog-item .blog-content {
  padding-bottom: 25px;
}

.blog .blog-item .blog-content h2 {
  margin-top: 0;
  font-size: 30px;
}

.readmore{
  margin-top: 0;
}

.blog .blog-item .blog-content h3 {
  color: #858586;
  margin-bottom: 40px;
  /* font-weight: 300 */}

.blog .blog-item .blog-content h4 {
  font-size: 14px;
}

.post-tags {

}

.blog .blog-item .entry-meta {
  border-radius: 5px;
  overflow: hidden;
}

.blog .blog-item .entry-meta > span {
  background: #f5f5f5;
  border-top: 1px solid #fff;
  display: block;
  font-size: 12px;
  overflow: hidden;
  padding: 5px;
  text-align: left;
}

#publish_date {
  background: #c52d2f;
  border-bottom: 5px solid #4e4e4e;
  color: #fff;
  padding: 5px 0;
  text-align: center;
}

.blog .blog-item .entry-meta > span {
  color: #ccc;
}

.blog .blog-item .entry-meta > span a {
  font-size: 12px;
  margin-left: 3px;
  font-weight: 300;
  color: #888;
}

ul.pagination > li > a {
  border: 1px solid #F1F1F1;
  margin-right:5px;
  border-radius: 5px;
  font-size: 16px;
  padding: 5px 14px;
}

ul.pagination > li > a i{
  margin-left:5px;
  margin-right:5px;
}

ul.pagination > li.active > a, 
ul.pagination > li:hover > a {
  background-color: #c52d2f !important;
  border-color: #c52d2f !important;
  color: #fff;
}

.search_box {
  background-image: url("../Images/search_icon.png");
  background-position: 314px 15px;
  background-repeat: no-repeat;
  border-color: #DEDEDE;
  height: 48px;
  outline: medium none;
  box-shadow: none;
}

.form-control:focus {
  box-shadow:none;
  outline: 0 none;
}


ul.tag-cloud, 
ul.sidebar-gallery {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tag-cloud li{
    display: inline-block;
    margin-bottom: 3px;
}

.tag-cloud li a {
  background: #f5f5f5;
  color: #888;
  border: 0;
  border-radius: 4px;
  padding: 8px 15px;
}

.tag-cloud li a:hover{
  background:#c52d2f;
  color: #fff;  
}

.sidebar-gallery li{
  display: inline-block;
  margin: 0 10px 10px 0;
}

.sidebar-gallery li a {
  border-radius: 4px;
  display: inline-block;
}




/*NewsPage*/
.news-categories {
    margin: 15px 0;
}

.category {
    padding: 10px 15px;
    font: bold 18px @base-font-family;
}

.news-item {
    margin: 15px 0;
    background: #ededed;
    margin-bottom: 25px;
    padding: 15px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.news-name {
   
        margin-top: 0;
        text-align: center;
        margin-bottom: 25px;
        text-align: center;
        font-family: bold @base-font-family;

  
}

.news-image {
    img {
        max-height: 240px;
        max-width: 640px;
    }
}

.news-info {
    font-family: @base-font-family;
    padding-top: 45px;
    padding-left: 15px;

    li {
        margin-bottom: 15px;
        border-bottom: 1px dotted #fff;

        &:last-child {
            margin-bottom: 0;
        }
    }

    i {
        margin-right: 15px;
    }
}

.news-description {
    padding-top: 25px;
    text-indent: 30px;
    font-family: Verdana,sans-serif;
}
/*ReleasePage*/
.release-item {
    margin: 15px 0;
}

.release-image {
    width: 100%;
}

.release-name {



    h3 {
        text-align: center;
    }
}

.release-show {
    margin: 25px 0;
}

.release-change {
    li {
        padding-bottom: 10px;
    }
}

.release-info {
    padding-top: 15px;

    i {
        margin-right: 5px;
    }
}

/*Реєстрація*/


.box {
    width: 100%;
    height: 400px;
    font: 14px Helvetica, Arial;
    overflow: auto;
}

.box-inner {
    background: #eee;
    padding: 10px;
    color: #393939;
    text-shadow: 0 1px 0 #fff;
    font: 13px Trebuchet MS,sans-serif;
}
