﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link href="~/Content/bootstrap3/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-datetimepicker3/ans-bootstrapdatetimepicker.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">

		<h1>Ans.Mvc5.EonasdanBootstrapDatetimepicker</h1>

		<p>
			<input type="text" class="form-control form-datetime" />
		</p>
		<p>
			<input type="text" class="form-control form-date" />
		</p>
		<p>
			<input type="text" class="form-control form-time" />
		</p>

		@RenderBody()

	</div>
	<script src="~/Scripts/jquery.min.js"></script>
	<script src="~/Content/bootstrap3/js/bootstrap.min.js"></script>
	<script src="~/Content/moment2/moment.min.js"></script>
	<script src="~/Content/moment2/locale/ru.min.js"></script>
	<script src="~/Content/bootstrap-datetimepicker3/bootstrap-datetimepicker.min.js"></script>
	<script src="~/Content/bootstrap-datetimepicker3/ans-bootstrapdatetimepicker.min.js"></script>
</body>
</html>