﻿@using (Html.BeginForm("UploadImage", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", @class = "avatar-form", id = "AjaxFileUpload" }))
{
    @Html.AntiForgeryToken()

    <div class="avatar-body">
        <!-- Upload image and data -->
        <div class="avatar-upload">
            <div class="row">
                <div class="col-md-9">
                    <input class="avatar-src" name="avatar_src" type="hidden">
                    <input class="avatar-data" name="avatar_data" type="hidden">
                    <input class="avatar-input" id="avatarInput" name="files" type="file">
                </div>
                <div class="col-md-3">
                    <button class="btn btn-success btn-block avatar-save pull-right" type="submit">@Resource.GlobalRes.Upload</button>
                </div>
            </div>

        </div>
        <!-- Crop and preview -->
        <div class="row">
            <div class="col-md-9">
                <div class="avatar-wrapper"></div>
                <div class="row avatar-btns">
                    <div class="docs-buttons">
                        <!-- <h3 class="page-header">Toolbar:</h3> -->
                        <div class="btn-group">
                            <button class="btn btn-primary" data-method="setDragMode" data-option="move" type="button" title="Move">
                                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setDragMode&quot;, &quot;move&quot;)">
                                    <span class="icon icon-move"></span>
                                </span>
                            </button>
                            <button class="btn btn-primary" data-method="setDragMode" data-option="crop" type="button" title="Crop">
                                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setDragMode&quot;, &quot;crop&quot;)">
                                    <span class="icon icon-crop"></span>
                                </span>
                            </button>
                            <button class="btn btn-primary" data-method="zoom" data-option="0.1" type="button" title="Zoom In">
                                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;zoom&quot;, 0.1)">
                                    <span class="icon icon-zoom-in"></span>
                                </span>
                            </button>
                            <button class="btn btn-primary" data-method="zoom" data-option="-0.1" type="button" title="Zoom Out">
                                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;zoom&quot;, -0.1)">
                                    <span class="icon icon-zoom-out"></span>
                                </span>
                            </button>
                            <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button" title="Rotate Left">
                                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;rotate&quot;, -45)">
                                    <span class="icon icon-rotate-left"></span>
                                </span>
                            </button>
                            <button class="btn btn-primary" data-method="rotate" data-option="45" type="button" title="Rotate Right">
                                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;rotate&quot;, 45)">
                                    <span class="icon icon-rotate-right"></span>
                                </span>
                            </button>
                        </div>

                        <div class="btn-group">
                            <button class="btn btn-primary" data-method="disable" type="button" title="Disable">
                                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;disable&quot;)">
                                    <span class="icon icon-lock"></span>
                                </span>
                            </button>
                            <button class="btn btn-primary" data-method="enable" type="button" title="Enable">
                                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;enable&quot;)">
                                    <span class="icon icon-unlock"></span>
                                </span>
                            </button>
                            <button class="btn btn-primary" data-method="clear" type="button" title="Clear">
                                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;clear&quot;)">
                                    <span class="icon icon-remove"></span>
                                </span>
                            </button>
                            <button class="btn btn-primary" data-method="reset" type="button" title="Reset">
                                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;reset&quot;)">
                                    <span class="icon icon-refresh"></span>
                                </span>
                            </button>
                    
                            <button class="btn btn-primary" data-method="destroy" type="button" title="Destroy">
                                <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;destroy&quot;)">
                                    <span class="icon icon-off"></span>
                                </span>
                            </button>
                        </div>

               

                        <!-- Show the cropped image in modal -->
                        <div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button class="close" data-dismiss="modal" type="button" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="getCroppedCanvasTitle">Cropped</h4>
                                    </div>
                                    <div class="modal-body"><canvas width="160" height="90"></canvas></div>
                                    <!-- <div class="modal-footer">
                      <button class="btn btn-primary" data-dismiss="modal" type="button">Close</button>
                    </div> -->
                                </div>
                            </div>
                        </div><!-- /.modal -->

                        <button class="btn btn-primary" data-method="getData" data-option="" data-target="#putData" type="button">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;getData&quot;)">
                                Get Data
                            </span>
                        </button>
                        <button class="btn btn-primary" data-method="getImageData" data-option="" data-target="#putData" type="button">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;getImageData&quot;)">
                                Get Image Data
                            </span>
                        </button>
                        <button class="btn btn-primary" data-method="getCanvasData" data-option="" data-target="#putData" type="button">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;getCanvasData&quot;)">
                                Get Canvas Data
                            </span>
                        </button>
                        <button class="btn btn-primary" data-method="setCanvasData" data-target="#putData" type="button">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setCanvasData&quot;, data)">
                                Set Canvas Data
                            </span>
                        </button>
                        <button class="btn btn-primary" data-method="getCropBoxData" data-option="" data-target="#putData" type="button">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;getCropBoxData&quot;)">
                                Get Crop Box Data
                            </span>
                        </button>
                        <button class="btn btn-primary" data-method="setCropBoxData" data-target="#putData" type="button">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setCropBoxData&quot;, data)">
                                Set Crop Box Data
                            </span>
                        </button>
                        <input class="form-control" id="putData" type="text" placeholder="Get data to here or set data with this value">

                    </div>
                
                            <div class="btn-group">
                                <button class="btn btn-primary" data-method="rotate" data-option="-90" type="button" title="Rotate -90 degrees">Rotate Left</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="-15" type="button">-15deg</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="-30" type="button">-30deg</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="-45" type="button">-45deg</button>
                            </div>
                            <div class="btn-group">
                                <button class="btn btn-primary" data-method="rotate" data-option="90" type="button" title="Rotate 90 degrees">Rotate Right</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="15" type="button">15deg</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="30" type="button">30deg</button>
                                <button class="btn btn-primary" data-method="rotate" data-option="45" type="button">45deg</button>
                            </div>
               





                </div>
            </div>
            <div class="col-md-3">
                <div class="clearfix">
                    <div class="avatar-preview preview-lg"></div>
                    <div class="avatar-preview preview-md"></div>
                    <div class="avatar-preview preview-sm"></div>
                    <div class="avatar-preview preview-xs"></div>
                </div>
                <div class="docs-data">
                <div class="input-group">
                    <label class="input-group-addon" for="dataWidth">Width</label>
                    <input class="form-control" id="dataWidth" type="text" placeholder="width">
                    <span class="input-group-addon">px</span>
                </div>
                <div class="input-group">
                    <label class="input-group-addon" for="dataHeight">Height</label>
                    <input class="form-control" id="dataHeight" type="text" placeholder="height">
                    <span class="input-group-addon">px</span>
                </div>
                <div class="input-group">
                    <label class="input-group-addon" for="dataRotate">Rotate</label>
                    <input class="form-control" id="dataRotate" type="text" placeholder="rotate">
                    <span class="input-group-addon">deg</span>
                </div>
                </div>
                <div class="docs-toggles">
                    <!-- <h3 class="page-header">Toggles:</h3> -->
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-primary active" data-method="setAspectRatio" data-option="1.7777777777777777" title="Set Aspect Ratio">
                            <input class="sr-only" id="aspestRatio1" name="aspestRatio" value="1.7777777777777777" type="radio">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setAspectRatio&quot;, 16 / 9)">
                                16:9
                            </span>
                        </label>
                        <label class="btn btn-primary" data-method="setAspectRatio" data-option="1.3333333333333333" title="Set Aspect Ratio">
                            <input class="sr-only" id="aspestRatio2" name="aspestRatio" value="1.3333333333333333" type="radio">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setAspectRatio&quot;, 4 / 3)">
                                4:3
                            </span>
                        </label>
                        <label class="btn btn-primary" data-method="setAspectRatio" data-option="1" title="Set Aspect Ratio">
                            <input class="sr-only" id="aspestRatio3" name="aspestRatio" value="1" type="radio">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setAspectRatio&quot;, 1 / 1)">
                                1:1
                            </span>
                        </label>
                        <label class="btn btn-primary" data-method="setAspectRatio" data-option="0.6666666666666666" title="Set Aspect Ratio">
                            <input class="sr-only" id="aspestRatio4" name="aspestRatio" value="0.6666666666666666" type="radio">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setAspectRatio&quot;, 2 / 3)">
                                2:3
                            </span>
                        </label>
                        <label class="btn btn-primary" data-method="setAspectRatio" data-option="NaN" title="Set Aspect Ratio">
                            <input class="sr-only" id="aspestRatio5" name="aspestRatio" value="NaN" type="radio">
                            <span class="docs-tooltip" data-toggle="tooltip" title="" data-original-title="$().cropper(&quot;setAspectRatio&quot;, NaN)">
                                Free
                            </span>
                        </label>
                    </div>

                    <div class="dropdown dropup docs-options">
                        <button class="btn btn-primary btn-block dropdown-toggle" id="toggleOptions" type="button" data-toggle="dropdown" aria-expanded="false">
                            Toggle Options
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="toggleOptions">
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="strict" checked="">
                                    strict
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="responsive" checked="">
                                    responsive
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="checkImageOrigin" checked="">
                                    checkImageOrigin
                                </label>
                            </li>

                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="modal" checked="">
                                    modal
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="guides" checked="">
                                    guides
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="highlight" checked="">
                                    highlight
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="background" checked="">
                                    background
                                </label>
                            </li>

                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="autoCrop" checked="">
                                    autoCrop
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="dragCrop" checked="">
                                    dragCrop
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="movable" checked="">
                                    movable
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="resizable" checked="">
                                    resizable
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="rotatable" checked="">
                                    rotatable
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="zoomable" checked="">
                                    zoomable
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="touchDragZoom" checked="">
                                    touchDragZoom
                                </label>
                            </li>
                            <li role="presentation">
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="option" value="mouseWheelZoom" checked="">
                                    mouseWheelZoom
                                </label>
                            </li>
                        </ul>
                    </div><!-- /.dropdown -->
                </div>

            </div>
        </div>
    </div>
    <script>

        (function () {
            var $image = $('.img-container > img'),
                $dataX = $('#dataX'),
                $dataY = $('#dataY'),
                $dataHeight = $('#dataHeight'),
                $dataWidth = $('#dataWidth'),
                $dataRotate = $('#dataRotate'),
                options = {
                    // strict: false,
                    // responsive: false,
                    // checkImageOrigin: false

                    // modal: false,
                    // guides: false,
                    // highlight: false,
                    // background: false,

                    // autoCrop: false,
                    // autoCropArea: 0.5,
                    // dragCrop: false,
                    // movable: false,
                    // resizable: false,
                    // rotatable: false,
                    // zoomable: false,
                    // touchDragZoom: false,
                    // mouseWheelZoom: false,

                    // minCanvasWidth: 320,
                    // minCanvasHeight: 180,
                    // minCropBoxWidth: 160,
                    // minCropBoxHeight: 90,
                    // minContainerWidth: 320,
                    // minContainerHeight: 180,

                    // build: null,
                    // built: null,
                    // dragstart: null,
                    // dragmove: null,
                    // dragend: null,
                    // zoomin: null,
                    // zoomout: null,

                    aspectRatio: 16 / 9,
                    preview: '.img-preview',
                    crop: function (data) {
                        $dataX.val(Math.round(data.x));
                        $dataY.val(Math.round(data.y));
                        $dataHeight.val(Math.round(data.height));
                        $dataWidth.val(Math.round(data.width));
                        $dataRotate.val(Math.round(data.rotate));
                    }
                };

            $image.on({
                'build.cropper': function (e) {
                    console.log(e.type);
                },
                'built.cropper': function (e) {
                    console.log(e.type);
                },
                'dragstart.cropper': function (e) {
                    console.log(e.type, e.dragType);
                },
                'dragmove.cropper': function (e) {
                    console.log(e.type, e.dragType);
                },
                'dragend.cropper': function (e) {
                    console.log(e.type, e.dragType);
                },
                'zoomin.cropper': function (e) {
                    console.log(e.type);
                },
                'zoomout.cropper': function (e) {
                    console.log(e.type);
                }
            }).cropper(options);


            // Methods
            $(document.body).on('click', '[data-method]', function () {
                var data = $(this).data(),
                    $target,
                    result;

                console.log(data.method);
            

                if (data.method) {
                    data = $.extend({}, data); // Clone a new one

                    if (typeof data.target !== 'undefined') {
                        $target = $(data.target);

                        if (typeof data.option === 'undefined') {
                            try {
                                data.option = JSON.parse($target.val());
                            } catch (e) {
                                console.log(e.message);
                            }
                        }
                    }

                    result = $image.cropper(data.method, data.option);

                 

                    if ($.isPlainObject(result) && $target) {
                        try {
                            $target.val(JSON.stringify(result));
                        } catch (e) {
                            console.log(e.message);
                        }
                    }

                }
            }).on('keydown', function (e) {

                switch (e.which) {
                    case 37:
                        e.preventDefault();
                        $image.cropper('move', -1, 0);
                        break;

                    case 38:
                        e.preventDefault();
                        $image.cropper('move', 0, -1);
                        break;

                    case 39:
                        e.preventDefault();
                        $image.cropper('move', 1, 0);
                        break;

                    case 40:
                        e.preventDefault();
                        $image.cropper('move', 0, 1);
                        break;
                }

            });

            // Tooltips
            $('[data-toggle="tooltip"]').tooltip();

        }());
    </script>
}