﻿@model WebApp.Areas.AdminAuth.Models.FileBrowserViewModel
@{
    Layout = null;
}
<html>
<head>
    <title>Огляд сервера</title>
    <style>
        #fileExplorer li {
            float: left;
            margin-right: 30px;
        }
    </style>
    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
    var funcNum = @(Request["CKEditorFuncNum"] + ";")
            $(function() {
                $('li').click(function() {
                    $('#fileExplorer').load(@Url.Action("FilebrowserBrowse", "Upload")+'?directory=' + encodeURIComponent($(this).text()));
                }).hover(function() {
                    $(this).css('cursor', 'pointer');
                });
                $('#fileExplorer').on('click', 'img', function () {
                    var fileUrl = '@Model.CurrentDirectory' + $(this).attr('title');

                    window.opener.CKEDITOR.tools.callFunction(funcNum, fileUrl);
                    window.close();
                }).hover(function() {
                    $(this).css('cursor', 'pointer');
                });
            });
    </script>
</head>
<body>
    <div id="folderExplorer">
        <ul>
            @foreach (var dir in Model.Directories)
            {
                <li>
                    @dir.FullName
                </li>
            }
        </ul>
    </div>
    <div id="fileExplorer">

        <ul>
            @foreach (var file in Model.Files)
            {
                <li>
                    <img src="@Model.CurrentDirectory@file.Name" width="200" height="200" class="img-circle" alt="@file.Name" title="@file.Name" />
                </li>
            }
        </ul>

    </div>
</body>
</html>
