﻿@{
    var ajax = new AjaxOptions
      {
          HttpMethod = "Post",
          OnSuccess = "successDelete",
          Confirm = "Видалити файл з сервера?"
      };
}
@using (var tabs = Html.Bootstrap().Begin(new Tabs("TabsId")))
{
    @tabs.Tab("Програма")

    using (tabs.BeginPanel())
    {
        <div class="modalTab">
            @using (Html.BeginForm("UploadRelease", "Upload", FormMethod.Post, new { id = "AjaxFileUpload" }))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("path")
                @Html.Bootstrap().File("files").Id("file-upload")


                <div class="progress" style="display:none">
                    <div class="bar progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="percent">0%</div>
                    </div>
                </div>
                <div id="status" class="hide"></div>

                @Html.Bootstrap().SubmitButton().Text("Завантажити").Id("uploadFile").Class("modalDovnload") @:Or
                <input type="button" value="Обрати з сервера">
            }




            @using (Ajax.BeginForm("Delete", "Upload", null, ajax, new { id = "deleteFileForm", style = "display:none" }))
            {
                @Html.Hidden("path")

                @Html.Bootstrap().SubmitButton().Text("Видалити").Id("deleteImage").Class("btn-danger modalRemove")

            }


        </div>


        <script>
            function successDelete(xbr) {
                if (xbr.success) {
                    alert("Видалено");
                    $('#deleteFileForm').toggle();
                    $("#status").html("");
                }


            }

            $(function () {

                var isValid = false;

                $(':file').change(function () {
                    isValid = fileIsValid(this.files[0]);

                });

                function fileIsValid(file) {


                    var ext = file.name.substr(file.name.lastIndexOf('.') + 1);

                    if (file.name.length > 1 && ext == "zip")
                        return true;
                    
                        
                    alert("Невірний формат файлу");
                    return false;
                };

                $("#uploadFile").click(function (e) {

                    if (!isValid)
                        e.preventDefault();
                    isValid = false;
                });

                var bar = $('.bar');
                var percent = $('.percent');
                var status = $('#status');
                var progress = $('.progress');
                $('#AjaxFileUpload').ajaxForm({
                    beforeSend: function () {
                        progress.toggle();
                        status.empty();
                        var percentVal = '0%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                    },
                    uploadProgress: function (event, position, total, percentComplete) {
                        var percentVal = percentComplete + '%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                    },
                    success: function () {
                        var percentVal = '100%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                    },
                    complete: function (xhr) {
                        $('input[type=file]').val("");
                        status.html(xhr.responseText);
                        var data = $.parseJSON(xhr.responseText);
                        $('#path').val(data.filePath);
                        $('#deleteFileForm').toggle();  
                    }
                });

                $("#SaveChanges").click(function () {
                    alert("File");
                    var status = $.trim($("#status").html());
                    if (status != '') {

                        var data = $.parseJSON(status);
                        $("#Install").val(data.fileName);
                    }

                    $("#myModal").modal("hide");
                });            
            });

        </script>
    }
}





