﻿@using (var tabs = Html.Bootstrap().Begin(new Tabs("TabsId")))
{

    @tabs.Tab("Зображення")




    using (tabs.BeginPanel())
    {
        <div class="modalTab">
            @using (Html.BeginForm("UploadMultiImage", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", id = "AjaxFileUpload" }))
            {
                @Html.AntiForgeryToken()
                <input type='file' multiple id='files' name="files" />
                <div class="progress " style="display:none;">
                    <div class="bar progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        <div class="percent">0%</div>
                    </div>
                </div>
                <div id="status" class="hide"></div>

                @Html.Bootstrap().SubmitButton().Text("Завантажити").Id("uploadImage").Class("modalDovnload")

            }
            <div class="clearfix">

                <output id="listThumb"></output>


            </div>
        </div>



        <script>
            $(function () {
               
                var isValid = false;
                $(':file').change(function () {

                  
                    isValid = true;
                   

                    isValid = fileIsValid( this.files);

                    

                });


                function fileIsValid(files) {
                    for (var i = 0; i < files.length; i++) {
                        if (files[i].name.length > 1) {

                            if (files[i].size > 3 * 1024 * 1024) {
                                alert("Error:Файл " + files[i].name + " більше 3МБ");
                                return false;

                            }

                            if (files[i].type != 'image/png' && files[i].type != 'image/jpg' && files[i].type != 'image/jpeg') {

                                alert("Error:Файл " + files[i].name + "Дозволені формати .png, .jpg .jpeg ");
                                return false;
                            }
                        }
                    }


                    return true;
                };

                $("#uploadImage").click(function (e) {

                    if (!isValid)
                        e.preventDefault();
                    isValid = false;
                });
                var bar = $('.bar');
                var percent = $('.percent');
                var status = $('#status');
                var progress = $('.progress');
                $('#AjaxFileUpload').ajaxForm({
                    beforeSend: function () {
                        progress.toggle();
                        status.empty();
                        var percentVal = '0%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                    },
                    uploadProgress: function (event, position, total, percentComplete) {
                        var percentVal = percentComplete + '%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                    },
                    success: function () {
                        var percentVal = '100%';
                        bar.width(percentVal)
                        percent.html(percentVal);
                    },
                    complete: function (xhr) {
                        $('input[type=file]').val("");
                        status.html(xhr.responseText);
                        var data = $.parseJSON(xhr.responseText);
                        ShowImageThumb(data, "list");

                    }
                });

                function ShowImageThumb(data, element) {
                    var items = data.fileName.split(",");
                    for (var i = 0; i < items.length ; i++) {

                        $("#" + element+"Thumb").prepend("<span class='image'><img class='thumb' src='/Content/Images/Release/Thumb/" + items[i] + "'><a  href='#' class='deleteImage' data-url='" + items[i] + "' ><i class='fa fa-times'></i></a></span>");
                    }
                };

                var ScrElem = $('#Screenshots');

                $("#SaveChanges").click(function () {
                    alert("MultiImage");
                    var status = $.trim($("#status").html());
                    if (status != '') {
                        var data = $.parseJSON(status);
                        var str = ScrElem.val();

                        if(str!='')
                            str += "," + data.fileName;
                        else
                            str += data.fileName;

                        ScrElem.val(str);
                        ShowImageThumb(data, "Screenshots");
                     
                    }

                    $("#myModal").modal("hide");
                });

                $('body').on('click', 'a.deleteImage', function (e) {

                  
                    e.preventDefault();
                  
                    var url = $(this).attr('data-url');
                   
                    $.ajax({
                        url: '@Url.Action("DeleteScrinshot", "Upload")',
                        type: "Post",
                        data: { file: url },
                        success: function (data) {
                          
                            if (data.success)
                            {
                                
                             
                                var value = $.trim(status.html());
                               
                                if (value == '') {

                                //    var json = $.parseJSON(value);
                                //    alert(json.filePath);


                                //    for (var i = 0; i < json.filePath.split(",") ; i++) {

                                //    }


                                //    alert(JSON.stringify(json));



                                    // status.html(JSON.stringify(json).replace(',', ', ').replace('[', '').replace(']', ''));

                                }
                                else
                                {
                                    var urls = ScrElem.val().split(',');                                                        
                                    urls = $.grep(urls, function (val) {
                                        return val != url;
                                    });                                  
                                    ScrElem.val(urls);
                                }
                            }
                        }
                    });            
                    $(this).parent().remove();
                });



            });
        </script>

    }

}






