﻿
@using (Html.BeginForm("UploadImage", "Upload", FormMethod.Post, new { enctype = "multipart/form-data", id = "AjaxFileUpload" }))
{
    @Html.AntiForgeryToken()    
   
    <div class="row">
        <div class="col-md-6">@Html.Bootstrap().File("files")</div> 
        <div class="col-md-6"><button type="submit" id="UploadImage" class="btn btn-block btn-primary">[Завантажити]</button></div> 
    </div>

    <div class="progress hide" >
        <div class="bar progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="percent">0%</div>
        </div>
    </div>
    
    <div id="status" class="hide"></div>

    <div class="cropper-example-1">
        <img id="ImageUploadView" src="~/Content/Images/News/Image_20150331102409948_cc61fbab-a98a-49e8-b641-ebedd7901963.jpg" alt="Picture">
    </div>


    @*<span class="image">
        <img class='thumb' src="" id="ImageView" alt="" />
        <a id="ImageLinkDelete" href="@Url.Action("Delete","Upload")" class="deleteImage hide" data-url=""><i class='fa fa-times'></i></a>
    </span>*@


}


<script>
    $(function () {

        $('#crop-avatar  img').cropper({
            aspectRatio: 1 / 1,
            autoCropArea: 0.65,
            strict: false,
            guides: false,
            highlight: false,
            dragCrop: false,
            movable: false,
            resizable: false,
           
        });

        var isValid = false;


        $(':file').change(function () {

            isValid = fileIsValid(this.files[0]);
        });

        function fileIsValid(file) {

            if (file.name.length < 1) {
                alert("Select file");
                return false;
            }

            if (file.size > 3 * 1024 * 1024) {
                alert("Eror:Файл більше 3 МБ");
                return false;
            }
            if (file.type != 'image/png' && file.type != 'image/jpg' && file.type != 'image/jpeg') {
                alert("Eror:Дозволені формати .png, .jpg .jpeg ");
                return false;
            }

            return true;

        };

        $("#UploadImage").click(function (e) {
            if (!isValid) e.preventDefault();        
            isValid = false;
        });

        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');
        var progress = $('.progress');

        $('#AjaxFileUpload').ajaxForm({
            beforeSend: function () {
                progress.toggle();
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            success: function () {
                var percentVal = '100%';
                bar.width(percentVal)
                percent.html(percentVal);
            },
            complete: function (xhr) {
                $('input[type=file]').val("");
                status.html(xhr.responseText);
                var data = $.parseJSON(xhr.responseText);
                $("#ImageUploadView").attr("src", data.filePath);
    console.log(data.filePath);
             //   $("#ImageLinkDelete").attr("data-url", data.filePath).toggle();
            }
        });




        $("#SaveChanges").click(function () {
            alert("Image");
            var status = $.trim($("#status").html());
            if (status != '') {
                var data = $.parseJSON(status);
                ShowImageThumb(data, "Image");
            }

            $("#myModal").modal("hide");
        });

        function ShowImageThumb(data, element) {
            $("#" + element).val(data.fileName);
            var path = data.filePath;

            $("#" + element + "Thumb").prepend("<span class='image'><img class='thumb' src='" + path + "'><a  href='#' class='deleteImage' data-url='" + path + "' ><i class='fa fa-times'></i></a></span>");
        };

        $('body').on('click', 'a.deleteImage', function (e) {
            e.preventDefault();

            $.ajax({
                url: '@Url.Action("Delete", "Upload")',
                type: "POST",
                data: { path: $(this).attr('data-url') },
                success: function (data) {


                }
            });


            if ($(this).attr("id") !== undefined) {
                $("#status").html('');
                $("#ImageShow").attr("src", '');
                $("#ImageLinkDelete").attr("data-url", '').toggle();

                return false;
            }

            $('#Image').val('');
            $(this).parent().remove();


        });
    });
</script>








