﻿@model  WebApp.Areas.AdminAuth.Models.TranslateEntityViewModel<EasyTest.Entity.Cathedra>

@{Layout = null;}

@using (Html.BeginForm("SaveTranslate", "Cathedra", FormMethod.Post))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(model => model.Entity.ParentId)
    @Html.Hidden("CultureFrom", Model.CultureFrom)

	<div class="form-horizontal">
		

		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		
        @Html.Partial("_language", Model.SupportedLanguages.Where(x => !Model.Translated.Contains(x.ID)), new ViewDataDictionary { { "selected", Model.Entity.LanguageId }, { "pref", "To" }, { "name", "Entity.LanguageID" } })


		<div class="form-group">
			@Html.LabelFor(model => model.Entity.Name, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Entity.Name, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Entity.Name, "", new { @class = "text-danger" })
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Translate" class="btn btn-default" />
			</div>
		</div>
	</div>
}


